.container {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 999;
}

.button {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  padding: 2px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
