.navContainer {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 24px;
}

.nav {
  margin-right: auto;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.iconText {
  font-size: 12px;
}
